<section class="card">
    <a href="/post/{{id}}">
      <header>{{post_title}}</header>
      <p>Posted by {{user.name}} on {{format_date date_created}}</p>
      <div class="card-body">
        <p>{{comment}}</p>
      </div>
    </a>
</section>